<h1>Welcome to BC Swim Team</h1>
 
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

 <ul> 
    <li><%= link_to "Manage Accounts", 'manage_account' %></a></li> 
    <li><%= link_to "Questions", 'questions' %></a></li> 
    <li><%= link_to "Surveys", 'surveys' %></a></li> 
  </ul> 

</table>