<h1>Manage Accounts</h1>

<div>
 <% @users.each do |user| %>
    <div class="user">
      <h3><%= user.first_name %></h3>
      <p><%= user.last_name %></p>
      <p><%= user.email %></p>
    </div>
    <% end %>
</div>
