<h1>Surveys</h1>

<div>
    <div class="survey">
    
      <p><%= "Survey Title: #{@survey.title}" %></p>
      <p><%= "Survey Date: #{@survey.date}" %></p> 
     <% @questions.each do |question| %> 
      <p><%= "Question: #{question.context}" %></p>
      <% end %>
      <br>
      <br>
    </div>

</div>