<h1>Listing Books</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @feedbacks.each do |f| %>
  <tr>
    <td><%= f.feedback %></td>
    <td><%= f.swimmer_id %></td>
  </tr>
<% end %>
</table>