<h1>Welcome to BC Swim Team</h1>
 
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

 <ul> 
    <li><%= link_to "Manage Accounts", 'manage_account' %></a></li> 
    <li><%= link_to "Questions", 'questions' %></a></li> 
  </ul> 

<% @feedbacks.each do |f| %>
  <tr>
    <td><%= f.feedback %></td>
    <td><%= f.swimmer_id %></td>
  </tr>
<% end %>
</table>